header {
  height: 80px;
  background-color: rgba(231, 108, 31, 1);
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 40px;
}

.background {
  background-image: url(./assets/icons/header\ photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 540px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: rgba(231, 108, 31, 1);
  padding-left: 80px;
}

.logo_burger {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  z-index: 1;
}
.burger_hause {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.menu_container {
  width: 100%;
}

.style_menu_box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(253, 234, 220, 1);
  padding: 15px;
  margin-bottom: 16px;
  gap: 16px;
}

.menu_style {
  display: flex;
  width: 100%;
}

.footer_flex_box {
  color: white;
  display: flex;
  align-items: center;
  gap: 50px;
}
.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.content_wrapper {
  gap: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  width: calc(100% - 300px);
  padding: 20px;
}

.mobile-bottom-bar {
  display: none;
}

@media (min-width: 320px) and (max-width: 426px) {
  header {
    padding-left: 20px;
  }

  .background {
    background-image: url(./assets/icons/header\ photo.png);
    background-repeat: no-repeat;
    margin: 16px 8px 16px 8px;
    height: 350px;
    width: auto;
    border-radius: 24px;
  }

  .logo_burger {
    height: 150px;
    width: 150px;
  }

  .burger,
  .hause {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    flex-direction: column;
  }

  .burger_hause {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }

  .content_wrapper {
    flex-direction: column;
  }
  .content,
  .basket {
    width: auto;
    padding: 8px;
    margin: 8px 0 8px 0;
  }

  .style_menu_box {
    display: block;
  }
  .responsive-menu-img {
    background-size: contain;
    height: 100px;
    width: 100%;
    border-radius: 8px;
  }
  .menu_style {
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 100px;
    padding-left: 0;
  }
  .footer_flex_box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0;
  }

  .prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 16px;
  }

  .basket {
    min-height: 100%;
    border-radius: 0;
  }

  .buy-now-btn {
    width: 100%;
  }

  .basket_wrapper.overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    justify-content: center;
    align-items: flex-end;
  }
  .mobile-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;

    background: rgba(54, 53, 52, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }

  .nav-btn {
    background: none;
    border: none;
    padding: 0;
  }

  .nav-btn img {
    width: 24px;
    height: 24px;
  }

  body {
    padding-bottom: 64px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  header {
    padding-left: 20px;
  }
  .mobile-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: rgba(54, 53, 52, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }
  .background {
    background-image: url(./assets/icons/header\ photo.png);
    background-repeat: no-repeat;
    margin: 16px 8px 16px 8px;
    height: 350px;
    width: auto;
    border-radius: 24px;
  }

  .logo_burger {
    height: 150px;
    width: 150px;
  }
  .description {
    font-size: 20px;
    text-align: center;
  }

  .content {
    width: auto;
  }

  .responsive-menu-img {
    width: auto;
    height: 125px;
  }

  footer {
    height: 100px;
    padding-left: 0;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  header {
    padding-left: 20px;
  }
  .content {
    width: auto;
  }

  .mobile-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: rgba(54, 53, 52, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }

  footer {
    height: 200px;
    padding-left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
