header {
  height: 80px;
  background-color: rgba(231, 108, 31, 1);
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.background {
  background-image: url(./assets/icons/header\ photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 540px;
  width: 100%;
}

.logo_burger {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  z-index: 1;
}
.burger_hause {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.menu_caontainer{
    padding-top: 20px;
    padding-left: 80px;
}

.style_menu_box {
  display: flex;
  justify-content: flex-start;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(253, 234, 220, 1) ;
  padding: 15px;
  margin-bottom: 16px;
}
