header {
    height: 80px;
    background-color: rgba(231, 108, 31, 1);
    display: flex;
    align-items: center;
    padding-left: 60px;
}

body{
    background-image: url(./assets/icons/header\ photo.png);
    background-repeat: no-repeat;
    background-size: cover;
}