header {
  height: 80px;
  background-color: rgba(231, 108, 31, 1);
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 40px;
}

footer {
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: rgba(231, 108, 31, 1);
  padding-left: 80px;
}

.background {
  background-image: url(./assets/icons/header\ photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 540px;
  width: 100%;
}

.logo_burger {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
  z-index: 1;
}
.burger_hause {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.menu_caontainer {
  padding-top: 20px;
  padding-left: 80px;
}

.style_menu_box {
  display: flex;
  justify-content: flex-start;
  width: 700px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(253, 234, 220, 1);
  padding: 15px;
  margin-bottom: 16px;
  gap: 16px;
}

.footer_flex_box {
  color: white;
  display: flex;
  align-items: center;
  gap: 50px;
}
.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 50%;
}

/* .basket-hidden {
  box-sizing: border-box;
  height: 400px;
  background-color: rgba(54, 53, 52, 1);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  border: 1px solid #ccc;
  padding: 15px;
  z-index: 1000; /* Immer im Vordergrund */
