.basket_wrapper {
  width: 350px;
  flex-grow: 1;
  padding-top: 20px;
  display: none;
}

.basket {
  width: 100%;
  height: 600px;
  background-color: rgba(54, 53, 52, 1);
  position: sticky;
  top: 0;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.your-basket-color {
  color: rgba(253, 234, 220, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.basket-item-card {
  background: rgba(253, 234, 220, 1);
  border-radius: 14px;
  padding: 8px 14px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.basket-item-title {
  font-weight: 600;
  font-size: 15px;
}
.overflow-y{
  max-height: 300px;
  overflow-y: auto;
}

.basket-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-summary {
  color: rgba(253, 234, 220, 1);
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;
}

.basket-item-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.basket-item-price {
  font-weight: 600;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.summary-row.total {
  font-weight: 700;
  font-size: 16px;
}

.btn-position {
  display: flex;
  justify-content: center;
}

.buy-now-btn {
  margin: 16px;
  padding: 14px;
  background: rgba(231, 108, 31, 1);
  color: white;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.shopping-cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(253, 234, 220, 1);
  top: 0;
}

.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.basket-close-btn {
  font-size: 22px;
  color: white;
  cursor: pointer;
}



@media (min-width: 769px) {
  .basket_wrapper {
    display: block;
    width: 350px;
    padding-top: 20px;
  }

   .basket-close-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .basket_wrapper.overlay {
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
    justify-content: center;
    align-items: flex-end;
  }

  .basket {
    width: 100%;
    max-height: 85vh;
    background: rgba(54,53,52,1);
    border-radius: 20px 20px 0 0;
    overflow-y: auto;
  }
}



