body{
    font-family: "Palanquin", sans-serif;
}
.palanquin-bold {
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.burger{
    font-size: 48px;
    color: rgb(233, 94, 44);
}
.hause{
    font-size: 48px;
}

.description{
    font-size: 24px;
}